.form-horizontal .form-control.ng-invalid.ng-dirty {
    border-color: #ac2925;
    box-shadow: none;
}

.form-horizontal .form-control.ng-valid.ng-dirty {
    border-color: #4cae4c;
    box-shadow: none;
}

.btn {
	font-size: 15px
}





.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.articles .well,
.articles .list-group-item {
  overflow: hidden;
}

.articles .list-group-item .btn-group  {
  position: absolute;
  top: -50px;
  right: 10px;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.articles .list-group-item:hover .btn-group {
  top: 10px;
}